@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

*:not(.material-icons-round){
  font-family: 'Escoredream' !important;
  color: #333; /*hex: # 6자로 나오게 해야 한다 33 33 33으로 되면 중복 값은 333으로 생략 가능*/
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
} 
img{
    display: block;
}
a{
    text-decoration: none;
}
.inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /*background-color: aqua;*/
}
body{
    height: 3000px;
}
.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    display: block;
}
.btn:hover{
    background-color: #333;
    color: white;

}
.btn.btn-reverse{
    background-color: #333;
    color: #fff;
}
.btn.btn-reverse:hover{
    background-color: transparent;
    color: #333;
}
.btn.btn-white{
    border-color: #fff;
    color: #fff;
}

.btn.btn-white:hover{
    background-color: #fff;
    color: #333;
}
/* .btn.btn-green:hover{
    background-color: #669900;
    color: #333;
} */
.btn.btn-gold{
    border-color: #d0923e;
    color: #d0923e;
}
.btn.btn-gold:hover{
    background-color: #d0923e;
    color: #ffff;
}
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.show .back-to-position{
    opacity: 1;
}
/*  왼 -> 오 른쪽으로 나오는 */
.back-to-position.to-right{
    transform: translateX(-150px);
}
.back-to-position.to-left{
    transform: translateX(150px);
}
.show .back-to-position.to-left,
.show .back-to-position.to-right{
    transform: translateX(0);
}
.show .back-to-position.delay-1{
    transition-delay: .3s;
}
.show .back-to-position.delay-2{
    transition-delay: .6s;
}
.show .back-to-position.delay-3{
    transition-delay: .9s;
}
.show .back-to-position.delay-4{
    transition-delay: 1.2s;
}